*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
}
.header{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10vw;
}
.menu{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.menu a{
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover{
    color: orange;
}

.main{
    height: 75%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.common{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 30px;
}
.common:hover{
    border: 2px solid orange;
}
.common img{
    width: 20vw;
}
.footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}