*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
}
.header{
    height: 15%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 10vw;
}
.menu{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.menu a{
    text-decoration: none;
    font-size: 25px;
}
.menu a:hover{
    color: orange;
}