h1,h2,h3,h4,h5,h6{
    color: red;
    background-color: yellow; 
    text-align: center;  
    width: 15%;
    border: 1px solid red;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    border-radius: 0px 30px;
    box-shadow: 0px 0px 20px green;
}