/* element selector */
p{
    border: 1px solid gray;
    padding: 30px;
    width: 20%;
    text-align: justify;
    font-family: Comic Sans MS;
    border-radius: 30px;
    display: inline-block;
    margin: 30px;
    color: white;
    box-shadow: 0px 0px 20px black;
}

/* class selector */
.c1{
    background: linear-gradient(45deg,red,black);
}

/* id selector */
#id1{
    background: linear-gradient(90deg,green,yellow);
}

/* class selector */
.c2{
    background: linear-gradient(180deg,blue,pink);
}